/*
Style sheet for Button login
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	border: 3px solid #f1f1f1;
	margin-left: 30%;
	margin-right: 30%;
	overflow: auto;
}

/* buttons */
button {
	background-color: #cbbbe6;
  	border: none;
  	color: black;
  	cursor: pointer;
  	float: right;
  	margin: 8px 0;
  	margin-bottom: 5%x;
  	margin-left: 5%;
  	margin-right: 5%;
	padding: 14px 15%;
	width: 90%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* full-width inputs */
input[type=text], input[type=password] {
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: right;
	padding: 12px 20px;
	width: 100%;
}

/* label */
label {
	margin-left: 5%;
	text-align: left;
}

/* Class content */

/* Button container */
.butt_cont {
	margin-top: 0;
	margin-bottom: 10%;
}

.butt_cont a {
	background-color: #cbbbe6;
  	border: none;
  	color: black;
  	cursor: pointer;
  	float: right;
  	margin-bottom: 24px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 14px 10%;
	text-align: center;
	text-decoration: none;
	width: 70%;
}

.butt_cont a:hover {
	opacity: 0.8;
}

/* Center the avatar image inside this container */
.img_cont {
  	text-align: center;
  	margin: 24px 0 12px 0;
}

/* Avatar image */
img.logo {
	width: 40%;
}

/* grid area association */
.labelN {
	grid-area: labelN;
}

.inputN {
	grid-area: inputN;
}

.labelE {
	grid-area: labelE;
}

.inputE {
	grid-area: inputE;
}

.labelC {
	grid-area: labelC;
}

.inputC {
	grid-area: inputC;
}

.labelP {
	grid-area: labelP;
}

.inputP {
	grid-area: inputP;
}

.labelPR {
	grid-area: labelPR;
}

.inputPR {
	grid-area: inputPR;
}

/* Add padding to containers */
.cont {
	align-items: center;
	display: grid;
	grid-template-areas:
		"labelN"
		"inputN"
		"labelP"
		"inputP";
	grid-gap: 5px;
	margin-left: 5%;
	margin-right: 5%;
 	padding: 16px;
}

/* Add padding to containers */
.cont_ext {
	align-items: center;
	display: grid;
	grid-template-areas:
		"labelN"
		"inputN"
		"labelE"
		"inputE"
		"labelC"
		"inputC"
		"labelP"
		"inputP"
		"labelPR"
		"inputPR";
	grid-gap: 5px;
	margin-left: 5%;
	margin-right: 5%;
 	padding: 16px;
}

/* The "Forgot password" text */
span.pwd {
  	float: right;
  	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  	span.pwd {
    	display: block;
    	float: none;
  	}
}